body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfe7fa+0,6393c1+100;Grey+Blue+3D */
background: rgb(207,231,250); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */

}
h1 {
    text-align: center;
}

.top_buttons {
  padding-left: 12%;
  width: 100%;
}

.top_buttons button {
  width: 10%;
  padding: 1.25% 10px;
}

.left_buttons {
  float: left;
  border-spacing:0px 20px;
  padding-top: 2%;
}

.left_buttons button {
  padding:10% 50px;
  width: 100%;
}

.items {
  width: 70%;
  padding: 2% 0px 0px 3%;
  table-layout: fixed;
}

.items td {
  text-align: center;
  border: 1px solid black;
  padding: 10px 20px 10px 10px;
}

.items button {
  display: inline-block;
  height: 50px;
  width: 100%;
}

.items img {
  width: 100%;
  height: 180px;
}

#customer_login {
  position: fixed;
  left: 45%;
  top: 25%;
}
#customer_login input {
  display: block;
  margin-bottom: 5px;
  height:25px;
  width: 100%;
}
